@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
}
*::selection {
	background-color: var(--coldColor);
	color: var(--backgroundColor);
}
a {
	text-decoration: none;
	color: var(--fontColor);
}
:root {
	color-scheme: light dark;
	--backgroundColor: hsl(0, 0%, 90%);
	--fontColor: hsl(0, 0%, 10%);
	--warmColor: hsl(50, 100%, 40%);
	--coldColor: hsl(120, 40%, 30%);
}
body {
	font-family: "Lato", "Open Sans", Helvetica, sans-serif;
	font-size: 1.3rem;
	background-color: var(--backgroundColor);
	color: var(--fontColor);
	background: url(images/background_light.jpg) no-repeat center center;
	background-size: cover;
	text-wrap: balance;
	scroll-behavior: smooth;
}
#body-container {
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
}
header,
footer {
	display: flex;
	padding: 0.5rem;
	background-color: var(--backgroundColor);
	backdrop-filter: blur(50px);
}
header {
	justify-content: space-between;
	padding-inline: 3%;
	position: sticky;
	top: 0px;
	z-index: 1;
	transition: top 0.3s;
	border-bottom: 1px solid var(--fontColor);
}
footer {
	justify-content: left;
	border-top: 1px solid var(--fontColor);
}
#logo-header {
	max-height: 30px;
	filter: invert(10%);
}
#toggleThemeContainer {
	display: flex;
	width: fit-content;
}
#toggleThemeButton {
	border: 1px solid var(--fontColor);
	background-color: var(--backgroundColor);
	color: var(--warmColor);
	width: 4rem;
	height: 2rem;
	border-radius: 3rem;
	cursor: pointer;
	position: relative;
	transition: 0.3s;
	scale: 80%;
}
#toggleThemeButton::before {
	position: absolute;
	content: "\2600";
	font-size: 1rem;
	align-content: center;
	text-align: center;
	background-color: var(--coldColor);
	width: 1.6rem;
	height: 1.6rem;
	border-radius: 3rem;
	margin: 0.1rem;
	transition: 0.3s;
}
#toggleTheme:checked + #toggleThemeButton {
	border: 1px solid var(--fontColor);
	background-color: var(--backgroundColor);
}
#toggleTheme:checked + #toggleThemeButton::before {
	transform: translateX(125%);
	content: "\263E";
}
#toggleTheme {
	display: none;
}
main {
	padding-block: 1rem;
	padding-inline: 10vw;
	flex: 1;
	display: grid;
	grid-gap: 1rem;
	grid-template-rows: repeat(3, 1fr 1fr 75px) 1fr 1fr;
	grid-template-columns: repeat(5, 1fr);
	grid-template-areas:
		"presentation	presentation	 presentation	presentation	photo"
		"presentation	presentation	presentation	presentation	."
		".	.	.	.	."
		"portfolio-caption	portfolio-display	portfolio-display	portfolio-display	portfolio-display"
		".	portfolio-display	portfolio-display	portfolio-display	portfolio-display"
		".	.	.	.	."
		"services-display	services-display	services-display	services-display	services-caption"
		"services-display	services-display	services-display	services-display	."
		".	.	.	.	."
		"tools-caption	tools-display	tools-display	tools-display	tools-display"
		".	tools-display	tools-display	tools-display	tools-display"
		".	.	.	.	.";
}
.grid-items {
	position: relative;
	opacity: 0;
	transform: translateY(25%);
	zoom: 0.8;
	transition: opacity 0.5s, transform 0.5s linear;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	background-color: var(--backgroundColor);
	box-shadow: 3px 3px 5px var(--warmColor);
}
.visible {
	opacity: 1;
	transform: translateY(0);
}
.big-content {
	padding: 5rem;
	justify-content: space-evenly;
}
.small-content {
	padding: 2rem;
	align-items: center;
	justify-content: center;
	scale: 90%;
	aspect-ratio: 1 / 1;
}
#presentation {
	grid-area: presentation;
}
h1 {
	font-size: 2rem;
	color: var(--coldColor);
}
#photo {
	grid-area: photo;
}
#logo-photo-container {
	display: block;
	max-width: 10rem;
	filter: invert(10%);
	align-self: center;
}
#portfolio-caption {
	grid-area: portfolio-caption;
}
#portfolio-display {
	grid-area: portfolio-display;
	overflow-x: scroll;
	flex-direction: row;
	justify-content: space-between;
	scroll-snap-type: x mandatory;
	scroll-padding: 0;
	gap: 0;
}
.portfolio-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	scroll-snap-align: start;
	flex: 0 0 125%;
}
.portfolio-item a {
	align-self: center;
	transform: scale(100%);
	transition: 0.3s linear;
}
.portfolio-item a:hover {
	transform: scale(110%);
}
#portfolio-display {
	text-align: center;
}
#portfolio-display div img {
	max-width: 90%;
}
#portfolio-display div p {
	text-align: center;
}
#tools-caption {
	grid-area: tools-caption;
}
#tools-display {
	grid-area: tools-display;
	overflow-x: scroll;
	flex-direction: row;
	justify-content: space-between;
	scroll-snap-type: x mandatory;
	scroll-padding: 0;
	gap: 0;
}
.tools-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	scroll-snap-align: start;
	flex: 0 0 62%;
}
#tools-display div img {
	max-height: 200px;
	filter: invert(15%);
}
#services-caption {
	grid-area: services-caption;
}
#services-display {
	grid-area: services-display;
}
/* -------------------- SCROLL -------------------- */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-thumb {
	background: var(--coldColor);
	border-radius: 6px;
}

::-webkit-scrollbar-track {
	background: var(--backgroundColor);
}

/* -------------------- DARK COLOR SCHEME -------------------- */
[data-theme="dark"] {
	--backgroundColor: hsl(0, 0%, 25%);
	--fontColor: hsl(0, 0%, 90%);

	body {
		background: url(images/background.jpg) no-repeat center center;
		background-size: cover;
		*::selection {
			background-color: var(--warmColor);
			color: var(--fontColor);
		}
		#logo-header {
			filter: invert(75%);
		}
		.grid-items {
			box-shadow: 3px 3px 5px var(--coldColor);
		}
	}

	#logo-photo-container {
		filter: invert(75%);
	}
	h1 {
		color: var(--warmColor);
	}

	#tools-display div img {
		filter: invert(85%);
	}
}
/* -------------------- MEDIA QUERIES -------------------- */
@media (768px < width <= 1024px) {
	main {
		padding-inline: 5vw;
	}
	.big-content {
		padding: 4rem;
	}
	#portfolio-display div img {
		max-width: 80%;
	}
}
@media (width <= 768px) {
	main {
		padding-inline: 3vw;
		grid-template-rows: 10fr auto 50px repeat(2, auto 10fr 50px) auto 10fr;
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-areas:
			"presentation presentation	presentation"
			".	photo	."
			".	.	."
			".	portfolio-caption	."
			"portfolio-display portfolio-display	portfolio-display"
			".	.	."
			".	services-caption	."
			"services-display	services-display	services-display"
			".	.	."
			".	tools-caption	."
			"tools-display	tools-display	tools-display";
	}
	.big-content {
		padding: 3rem;
	}
	.small-content {
		aspect-ratio: 3 / 1;
	}
	#photo {
		aspect-ratio: 1 / 1;
	}
	.tools-item,
	.portfolio-item {
		flex: 0 0 120%;
	}
	#portfolio-display div img {
		max-width: 70%;
	}
}
